Problem Statement 1:

Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report the highest education level they obtained. The data that resulted from the survey is summarized in the following table:

                        High School     Bachelors        Masters        Ph.d.       Total
           Female           60            54               46            41          201            
           Male             40            44               53            57          194
           Total           100            98               99            98          395

Question: Are gender and education level dependent at 5% level of significance? Inother words, given the data collected above, is there a relationship between the gender of an individual and the level of education that they have obtained?

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [6]:
male = [40,44,53,57]
female = [60,54,46,41]
High_School = [60,40]
Bachelors = [54,44]
Masters = [46,53]
Ph_D = [41,57]

marks = male + female
print(marks)

sex =  ['Male','Male','Male','Male','Female','Female','Female','Female']
education = ['High_School', 'Bachelors', 'Masters', 'Ph_d.','High_School', 'Bachelors', 'Masters', 'Ph_d.']

df = pd.DataFrame({"Sex":sex,"Edu":education,"Marks":marks})

print(df)

[40, 44, 53, 57, 60, 54, 46, 41]
      Sex          Edu  Marks
0    Male  High_School     40
1    Male    Bachelors     44
2    Male      Masters     53
3    Male        Ph_d.     57
4  Female  High_School     60
5  Female    Bachelors     54
6  Female      Masters     46
7  Female        Ph_d.     41

In [11]:
df1 = pd.crosstab(df.Sex, df.Edu,df.Marks, aggfunc="sum",margins=True)

df1.columns = ["Bachelors","High_School","Masters","Ph_d.","Genderwise_total"] 
df1.index = ["Female","Male","Combined"]
df1

          Bachelors  High_School  Masters  Ph_d.  Genderwise_total
Female           54           60       46     41               201
Male             44           40       53     57               194
Combined         98          100       99     98               395

In [12]:
observed = df1.iloc[0:2,0:4]
observed

        Bachelors  High_School  Masters  Ph_d.
Female         54           60       46     41
Male           44           40       53     57

In [14]:
expected =  np.outer(df1["Genderwise_total"][0:2],
                     df1.loc["Combined"][0:4]) / 395.0
expected = pd.DataFrame(expected)
expected.columns = ["Bachelors","High School","Masters","Ph.d."]
expected.index = ["Female","Male"]
expected

        Bachelors  High School    Masters      Ph.d.
Female  49.868354    50.886076  50.377215  49.868354
Male    48.131646    49.113924  48.622785  48.131646

In [15]:
chi_squared_stat = (((observed-expected)**2)/expected).sum().sum()

print(chi_squared_stat)

1.4713589181859028

In [17]:
import scipy.stats as sts

crit = sts.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 3)   # *

print("Critical value")
print(crit)

p_value = 1 - sts.chi2.cdf(x=chi_squared_stat, df=3)
                            
print("P value")
print(p_value)

Critical value
7.814727903251179
P value
0.6888962761742091

In [18]:
sts.chi2_contingency(observed= observed)

(8.006066246262538,
 0.045886500891747214,
 3,
 array([[49.86835443, 50.88607595, 50.37721519, 49.86835443],
        [48.13164557, 49.11392405, 48.62278481, 48.13164557]]))

In [ ]:
# The output shows the chi-square statistic = 8, the p-value as 0.045 and the degrees of freedom as 3
# The critical value with 3 degree of freedom is 7.815. Since 8.006 > 7.815, therefore we reject the null hypothesis 
# and conclude that the education level depends on gender at a 5% level of significance.

Problem Statement 2:

Using the following data, perform a oneway analysis of variance using Î±=.05. Write up the results in APA format.

[Group1: 51, 45, 33, 45, 67]
[Group2: 23, 43, 23, 43, 45]
[Group3: 56, 76, 74, 87, 56]

In [19]:
Group1 = [51, 45, 33, 45, 67]
Group2 = [23, 43, 23, 43, 45]
Group3 = [56, 76, 74, 87, 56]

# ANOVA Test
statistic, pvalue = sts.f_oneway(Group1,Group2,Group3)
print("F Statistic value {} , p-value {}".format(statistic,pvalue))
if pvalue < 0.05:
    print('True')
else:
    print('False')

F Statistic value 9.747205503009463 , p-value 0.0030597541434430556
True

In [ ]:
# The result shows the groups don't have the same sample means in this case,
# since the p-value is significant at a 99% confidence level. Here the p-value returned is 0.00305 which is < 0.05

In [ ]:
Problem Statement 3:
    
Calculate F Test for given 
10, 20, 30, 40, 50 and 
5,10,15, 20, 25.
For 10, 20, 30, 40, 50:

In [20]:
sts.f_oneway([10, 20, 30, 40, 50],[5,10,15, 20, 25])

F_onewayResult(statistic=3.6, pvalue=0.0943497728424377)

In [21]:
Group1 = [10, 20, 30, 40, 50]
Group2 = [5,10,15, 20, 25]

mean_1 = np.mean(Group1)
mean_2 = np.mean(Group2)

grp1_sub_mean1 = []
grp2_sub_mean2 = []
add1 = 0
add2 = 0
for items in Group1:
    add1 += (items - mean_1)**2
for items in Group2:
    add2 += (items - mean_2)**2
var1 = add1/(len(Group1)-1)
var2 = add2/(len(Group2)-1)

F_Test = var1/var2
print("F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is : ",F_Test)

F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25 is :  4.0